Hello Admin,<br />
<br /><br /><br />


<h2>A new book has been added to our DB!</h2>

Here are the details of the book
<br /><br /><br />


Name :   <%= @name %><<br />

Author : <%= @author %>


<br /><br /><br />


Thanks<br />
Notifier